<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">User Create</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form th:action="@{/admin/user-create}" method="post">

                                        <div class="form-row">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                <div class="form-group">

                                                    <label for="firstName" class="col-form-label">First Name</label>
                                                    <input id="firstName" type="text" class="form-control"
                                                           placeholder="John">

                                                    <label for="emailAddress" class="col-form-label">Email
                                                        Address</label>
                                                    <input id="emailAddress" type="email" class="form-control"
                                                           placeholder="jdoe@gmail.com">

                                                    <label for="password" class="col-form-label">Password</label>
                                                    <input id="password" type="password" class="form-control">

                                                    <label class="col-form-label">Gender</label><br>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" name="radio-inline"
                                                               class="custom-control-input">
                                                        <span class="custom-control-label">Male</span>
                                                    </label>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" name="radio-inline"
                                                               class="custom-control-input">
                                                        <span class="custom-control-label">Female</span>
                                                    </label>

                                                </div>
                                            </div>

                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                <div class="form-group">

                                                    <label for="lastName" class="col-form-label">Last Name</label>
                                                    <input id="lastName" type="text" class="form-control"
                                                           placeholder="Doe">

                                                    <label for="mobileNumber" class="col-form-label">Mobile
                                                        Number</label>
                                                    <input id="mobileNumber" type="text" class="form-control"
                                                           placeholder="0123456789">

                                                    <label for="passwordConfirmation" class="col-form-label">Password
                                                        Confirmation</label>
                                                    <input id="passwordConfirmation" type="password"
                                                           class="form-control">

                                                    <label class="col-form-label">Role</label>
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                    </select>

                                                </div>
                                            </div>

                                        </div>

                                    </form>

                                    <p class="text-right">
                                        <button class="btn btn-success" type="submit">Save</button>
                                    </p>

                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>

                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">User List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>
